.window {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;

  background: #1f1f1f;
}

.main {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 33.33vh);
}

.vertical_section {
  display: flex;
  flex-direction: column;
  width: 33.33vh;
}

.horizontal_section {
  display: flex;
  flex-direction: row;
  height: 33.33vh;
}